:root {
  --brand-color: #d47b28;
  --gray-700: #282828;
  --text: #000000f9;
  --text-menu: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brand-color);
  font: normal 400 1em "Franklin Gothic Medium", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding-inline: 1.5em;
  padding-block: 1.5em;
  background-color: var(--text);
}

.logo {
  height: 100px;
}

nav ul {
  display: flex;
  gap: 1.5em;
}

.videos ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

nav li a {
  text-decoration: none;
  color: var(--text-menu);
  transition: 300ms;
}

nav li a:hover {
  color: var(--brand-color);
}

.videos {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  width: 40em;
  margin-inline: auto;
  gap: 3em;
}

.videos li + li {
  margin-top: 3rem;
}

.about {
  text-align: center;
  animation: entrance 1.5s ease-in 0s 1 normal forwards;
}

.about h1 {
  font-size: 3em;
  color: #ffffffed;
  letter-spacing: 0.15em;
}

.about p {
  font-size: 1em;
  color: #ffffffed;
  letter-spacing: 0.15em;
}

.hero-img {
  height: 150px;
  padding: 10px;
}

.concreto {
  animation: concreto 1s ease 0s 1 normal forwards;
}

.solos {
  animation: solos 1s ease-in 0s 1 normal forwards;
}

@keyframes entrance {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes concreto {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes solos {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
