:root {
  --brand-color: #d47b28;
  --gray-700: #282828;
  --text: #000000f9;
  --text-menu: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brand-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding-inline: 1.5em;
  padding-block: 1.5em;
  background-color: var(--text);
}

.logo {
  height: 100px;
}

nav ul {
  display: flex;
  gap: 1.5em;
}

.videos ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

nav li a {
  text-decoration: none;
  color: var(--text-menu);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 300ms;
}

nav li a:hover {
  color: var(--brand-color);
}

.videos {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  width: 40em;
  margin-inline: auto;
  gap: 3em;
}

.videos li + li {
  margin-top: 3rem;
}

.about {
  text-align: center;
}

.about h1 {
  font-size: 3em;
  color: #ffffffed;
  letter-spacing: 0.15em;
}

.about p {
  font-size: 1em;
  color: #ffffffed;
  letter-spacing: 0.15em;
}

.hero-img {
  height: 150px;
  padding: 10px;
}
